<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--must be native app in azure app services-->
    <!--id for azure directory may need secret also depending on type of app-->
    <add key="clientId" value="" />
    <add key="clientSecret" value="" />
    <!--id for azure directory may need secret also depending on type of app-->
    <!--constants-->
    <add key="grantType" value="password" />
    <add key="resource" value="https://graph.microsoft.com" />
    <!--constants-->
    <!--user information-->
    <add key="userLogin" value="" />
    <add key="userPassword" value='' />
    <!--user information-->
  </appSettings>
</configuration>